---
---
@import 'variables';

.blog-post-wrapper {
	font-size: 1.1rem;
}

.blog-title {
	margin-bottom: 0px;
	transition: color $trans-time ease-in;
    -webkit-transition: color $trans-time ease-in;
}

.blog-date {
	margin-top: 0.5em;
	margin-bottom: 0px;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 1.1rem;
}

.blog-desc {
	margin-top: 1em;
	width: 100%;

}

.blog-footer {
	font-size: 0.8rem;
	padding: 0.5rem;
}

.blog-footer-wrapper {
	margin-top: 4rem;
}

@media screen and (min-width: 600px) {
	.blog-container-inner {
		display: inline-block;
	}
}