---
---

@import 'base';

#masthead {
    min-width: 100%;
    margin-bottom: -4vh;
    padding-top: 5vh;
    text-align: center;
}

.opacity-trans {
    opacity: 0;
    transition: opacity 1s ease-in;
    -webkit-opacity: 0;
    -webkit-transition: opacity 1s ease-in;
}

.no-trans {
    transition: none !important;
    -webkit-transition: none !important;

}

#profile-img {
    border: 0px solid black;
    margin: auto auto;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background: url('/assets/profile.jpeg');
    background-size: auto 140%;
    background-origin:border-box;
    background-position: 25% 25%;
    margin-bottom: 4vh;
}
    
#content {
    padding: 0 4% 2vh 4%;
}

#title-text {
    margin: auto;
    display: inline-block;
    /*border-right: 5px solid #293149;*/

}

@media (min-width: 1024px) {
    #masthead {
        /*min-height: 60vh;*/
    }

    #content {
        padding: 0 25% 2vh 25%;
    }

    #profile-img {
        width: 15vw;
        height: 15vw;
    }

}

#cursor,#caret,#caret2 {
    transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
}

#cursor {
    color: #FA8072;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 3em;
    min-width: 100%; 
    text-align: center;

}

#links {

    font-size: 1.75em;
    color: #293149;
    float: bottom;
}

a+a {
    margin-left: 0.5em;
}

