html, body {
  margin: 0;
  padding: 0;
}

html {
    overflow-y: scroll;
}

body  {
   background-color: #FFFFF0;
}

* {
    /*border: 1px solid black;*/
    box-sizing: border-box;
}

p {
    font-family:  'Roboto Slab',serif;
    color: #293149;
    display: inline-block;
    font-weight: 400;
    text-align: justify;
    font-size: 1em;
    line-height: 1.25em;
}

.title-text {
    font-family: 'Roboto Mono',monospace;
    color: #293149;
    font-size: 2em;
    /*color: #FFFFF0;    */
    font-weight: 600;
}

pre {
    font-family: 'Roboto Mono',monospace;
    margin: 0;
}

p + p {
  margin-top: 4vh;
}

span.b {
  font-weight: 700;
}

@media (min-width: 768px) {
    .title-text {
        font-size: 4em;
    }

    p {
        font-size: 1.25em;
        line-height: 1.5em;
    }

}

@media (min-width: 2555px) {
    .title-text {
        font-size: 6em;
    }

    p {
        font-size:2em;
        line-height: 2.25em;
    }
}


