@import 'solarized';
@import 'fluid-sizing';
@import 'navbar';
@import 'footer';
@import 'tooltip';
@import 'figures';
@import 'read-more';
@import 'fonts';

html, body {
  margin: 0;
  padding: 0;
}

html {
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body  {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.spacer {
    flex: 2vh 1 2;
}

.center-text {
    text-align: center;
}

.large-text {
  font-size: 1.5rem;
}

pre, .mono-font {
    margin: 0;
}

#content-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 86vw;
}

@media screen and (min-width: 700px) {
    #content-grid {
      width: 70vw;
  }
}

@media screen and (min-aspect-ratio: 2/1) {
    #content-grid {
      width: 50vw;
  }
}

#sticky-title {
  position: absolute;
  top: 40vh;
  display: flex;
  width: 100%;
}

#terminal-text {
  font-size: 3rem;
  margin: auto;
}

@media (orientation: landscape) and (min-width: 1024px) {
  .grid75 {
    width: 65%;
  }
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.opacity-trans {
    opacity: 0;
    transition: opacity 1s ease-in;
    -webkit-opacity: 0;
    -webkit-transition: opacity 1s ease-in;
}

.opacity-trans-visible {
    opacity: 1;
    transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
}

.grid50 {
  display: grid;
  grid-template-columns: 1fr;
  align-items: end;
}

@media screen and (min-width: 600px) {
  .grid50 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4%;
  }
}

a.read-more-container {
  font-color: inherit;
}
