$base03:    #2b2b2b;
$base003:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #293149;
$base0:     #A9B7C6;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fffff0;
$yellow:    #ff6b68;
$orange:    #cb4b16;
$red:       #cc7832;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$purple: #9876AA;

$light-accent: $orange;
$dark-accent: $red;

$trans-time: 0.1s;