---
layout: default
stylesheets: ["css/projects.css", "css/blog.css"]
navbar_position: "Projects"
--- 
{% if page.name != "projects_index.html" %}
<div class="grid75">
<h2 class="blog-title">{{page.title}}</h2>
<p class="blog-date">{{page.pdate}}</p>
<p class="blog-date"><a class="no-dec" href="/work">&lt; Back</a></p>
<!-- <p class="blog-date"><- Back</p> -->
{% endif %}
<div class="blog-content">
{{content}}
</div>
{% if page.name != "projects_index.html" %}
<div class="blog-footer-wrapper"><span class="blog-footer">  <a class="no-dec" href="/work"> &lt; Back</a> | <a class="no-dec" onclick="scrollToElement('page-top');">Top</a></span></div>
{% endif %}
</div>

<script>
	const setTemporaryViewTransitionNames = async (entries, vtPromise) => {
	  for (const [$el, name] of entries) {
	    $el.style.viewTransitionName = name;
	  }

	  await vtPromise;

	  for (const [$el, name] of entries) {
	    $el.style.viewTransitionName = '';
	  }
	}

	function isBlogPage(targetUrl) {
		return targetUrl.includes("work");
	}

	function extractBlogName(targetUrl) {
		return targetUrl.split('/')[2];
	}
</script>

{% if page.name != "projects_index.html" %}
<script>
	// OLD PAGE LOGIC
	window.addEventListener('pageswap', async (e) => {
	  if (e.viewTransition) {
	    const targetUrl = new URL(e.activation.entry.url);

	    // Navigating from blog index page
	    if (isBlogPage(targetUrl.pathname)) {

	      // Set view-transition-name values on the clicked row
	      // Clean up after the page got replaced
	      setTemporaryViewTransitionNames([
	        [document.querySelector(`.blog-title`), 'blog-title'],
	      ], e.viewTransition.finished);
	      setTemporaryViewTransitionNames([
	        [document.querySelector(`.blog-date`), 'blog-date'],
	      ], e.viewTransition.finished);
	    }
	  }
	});

	// NEW PAGE LOGIC
	window.addEventListener('pagereveal', async (e) => {
	  if (e.viewTransition) {
		  const fromURL = new URL(navigation.activation.from.url);
		  const currentURL = new URL(navigation.activation.entry.url);
	      // Navigating to blog index page
	      if (isBlogPage(fromURL.pathname)) {
		      // Set view-transition-name values on the elements in the list
		      // Clean up after the snapshots have been taken
		      setTemporaryViewTransitionNames([
		        [document.querySelector(`.blog-title`), 'blog-title'],
		      ], e.viewTransition.finished);

		      setTemporaryViewTransitionNames([
		        [document.querySelector(`.blog-date`), 'blog-date'],
		      ], e.viewTransition.finished);
		  }
	  }
	});
</script>
{% endif %}

{% if page.name == "projects_index.html" %}
<script>
	// OLD PAGE LOGIC
	window.addEventListener('pageswap', async (e) => {
	  if (e.viewTransition) {
	    const targetUrl = new URL(e.activation.entry.url);

	    // Navigating to a blog page
	    if (isBlogPage(targetUrl.pathname)) {
	    	const blogName = extractBlogName(targetUrl.pathname);

	      // Set view-transition-name values on the clicked row
	      // Clean up after the page got replaced
	      setTemporaryViewTransitionNames([
	        [document.querySelector(`#${blogName}`), 'blog-title'],
	      ], e.viewTransition.finished);
	    }
	  }
	});

	// NEW PAGE LOGIC
	window.addEventListener('pagereveal', async (e) => {
	  if (e.viewTransition) {
	    const fromURL = new URL(navigation.activation.from.url);
	    const currentURL = new URL(navigation.activation.entry.url);
	    // Navigating from a blogpage
	    if (isBlogPage(fromURL.pathname)) {
	      const blogName = extractBlogName(fromURL.pathname);

	      // Set view-transition-name values on the elements in the list
	      // Clean up after the snapshots have been taken
	      setTemporaryViewTransitionNames([
	        [document.querySelector(`#${blogName}`), 'blog-title'],
	      ], e.viewTransition.finished);
	    }	
	  }
	});
</script>
{% endif %}